/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 27px;
    background-color: rgb(233, 149, 22);
    color: black;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.display{
    background-color: rgb(31, 29, 29);
    color: white;
    height: 120px;
    font-size: 40px;
    text-align: right;
}

#expression{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#result{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}